.btn-options-user {
    margin-top: 5px;
    gap: 10px;
    display: flex;
    justify-content: end;
}

.line-form {
    height: 1px;
    width: 100%;
    background-color: #DDDDDD;
}

.label-money {
    color: #565A5C;
}