<fo-cont-card>
    <div class="w-full flex justify-between items-center mb-4">
        <div class="title-dialog-upload">Lista de archivos</div>
        <div class="flex">
            <button [disabled]="!business()" (click)="setViewFolder()" mat-flat-button class="btn-folder">
                <span>Ver archivos</span>
                <mat-icon [svgIcon]="'heroicons_solid:folder-open'"></mat-icon>
            </button>
        </div>
    </div>
    
    <div class="content-tree">
        @if(!openFolder()) {
            <div class="img-container-file">
                <img
                    alt="Archivo de repositorio"
                    class="image-upload"
                    src="images/uploads/repository-file.png"
                />
            </div>
        } @else {
                @defer (when !loadingFolder()) {
                    <fo-mat-tree-flat (eventUploadFile)="uploadFile($event)" [data]="dataTree()"></fo-mat-tree-flat>
                } @placeholder {
                    <div class="space-y-4">
                        <!-- Skeleton for file section -->
                        <div class="items-center flex flex-col gap-2">
                          <div class="w-full h-6 bg-gray-200 animate-pulse rounded-md"></div>
                          <div class="w-full h-6 bg-gray-200 animate-pulse rounded-md"></div>
                          <div class="w-full h-6 bg-gray-200 animate-pulse rounded-md"></div>
                        </div>
                      </div>
                }
        }
    </div>
</fo-cont-card>