.line-form {
    height: 1px;
    width: 100%;
    background-color: #DDDDDD;
}

.btn-delete-directory {
    border: 2px solid #CD202C;
    background-color: #ffffff;
    border-radius: 16px !important;
    span {
        color: #CD202C;
        font-family: "Museo Sans";
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.6px;
    }
    .mat-icon {
        color: #CD202C;
    }
}
.btn-delete-directory.mat-mdc-button {
    max-height: 44px !important;
        height: 44px !important;
}

.btn-options-user {
    margin-top: 5px;
    gap: 10px;
    display: flex;
    justify-content: end;
}