.mat-mdc-form-field {
    margin-right: 4px;
}

.space-icon {
    width: 40px;
}

/* .btn-node {
    z-index: 2;
    background-color: #FFFFFF;
  } */

.custom-tree {
    padding: 8px;
}

.custom-tree ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

.custom-tree .li-node:last-child::before {
    height: 50%;
}

.mat-tree-effect:hover {
    //background-color: #F9FAFB;
    background-color: #edeff1;
    border: 1px solid #DDDDDD;
}

.custom-tree .mat-tree-node {
    display: flex;
    align-items: center;
    border-radius: 10px;
    min-height: 40px !important;
}

.objective-text {
    flex: 1;
    word-wrap: break-word; /* Asegura que el texto largo se ajuste al contenedor */
}

.button-option {
    display: flex;
    align-self: center;
    width: 170px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    padding: 8px;
    color: #2979ff;
    background-color: white;
    border: 1px dashed #cfe0ed;
}

.button-option:hover {
    border: 1px dashed #0b66ff;
}

.header-row {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 20px;
  }

  .header-cell {
    flex: 1;
    padding: 8px;
    font-weight: bold;
    text-align: left;
  }

  .highlight-on-hover {
    transition: background-color 0.3s ease; /* Suaviza la animación */
   }
  .highlight-on-hover:hover {
    color: #1952a7; /* Cambia el color de fondo */
    cursor: pointer; /* Cambia el cursor a un puntero */
  }



.label-tree {
    font-family: "Museo sans";
    font-weight: 500;
    font-size: 12px;
}