<fo-cont-card>
    <div class="w-full flex justify-between items-center mb-4">
        <div class="title-dialog-upload">Lista de archivos</div>
        <div class="flex">
            <button [disabled]="!business()" (click)="setViewFolder()" mat-flat-button class="btn-folder">
                <span>{{ openFolder() ? 'Ocultar archivos' : 'Ver archivos' }} </span>
                <mat-icon [svgIcon]="'heroicons_solid:folder-open'"></mat-icon>
            </button>
        </div>
    </div>
    
    <div class="content-tree">
        @if(!openFolder()) {
            <div class="img-container-file">
                <button [disabled]="!business()"  (click)="setViewFolder()">
                    <img
                        alt="Archivo de repositorio"
                        class="image-upload"
                        src="images/uploads/repository-file.png"
                    />
                </button>
            </div>
        } @else {
                @defer (when !loadingFolder()) {
                    <fo-mat-tree-flat (eventDeleteFile)="deleteFile($event)" (eventUploadFile)="uploadFile($event)" [data]="dataTree()"></fo-mat-tree-flat>

                } @placeholder {
                    <div class="space-y-4">
                        <div class="items-center flex flex-col gap-2">
                          <div class="w-full h-6 bg-gray-200 animate-pulse rounded-md"></div>
                          <div class="w-full h-6 bg-gray-200 animate-pulse rounded-md"></div>
                          <div class="w-full h-6 bg-gray-200 animate-pulse rounded-md"></div>
                        </div>
                      </div>
                }
        }
    </div>
    @if (!business()) {
        <p class="text-link-block mt-4">* Debe registrar la empresa, para registrar archivos</p>
    }
</fo-cont-card>