<div class="w-full">
    <div class="grid grid-cols-1 gap-4">
        <fo-return (eventActionClick)="returnInit()"></fo-return>
        <div class="w-full">
            <p class="name-banner">Log de auditoria</p>
        </div>
        <fo-cont-card>
            <fo-title-module [text]="'Usuario'"></fo-title-module>
            <div class="grid grid-cols-1 gap-4 p-4 md:grid-cols-4">
                <div class="col-span-3 md:col-span-1">
                <mat-form-field  class="mat-form-field-custom w-full" appearance="outline" floatLabel="always">
                    <mat-label>Usuarios</mat-label>
                    <mat-select
                        formControlName="nEstado"
                        placeholder="--">
<!--                         @for (item of data.lstStatus; track $index) {
                            <mat-option [value]="item.nConValor">
                                {{ item.sConDescripcion }}
                            </mat-option>
                        } -->
                    </mat-select>
                    <!--@if(form.get('nEstado').invalid) {
                        <mat-error class="text-red-500">
                            {{ form.get("nEstado") | translateMessageForm: "select" }}
                        </mat-error>
                    } -->
                </mat-form-field>
                </div>
                <div class="col-span-3 md:col-span-1">
                <mat-form-field  class="mat-form-field-custom w-full" appearance="outline" floatLabel="always">
                    <mat-label>Roles</mat-label>
                    <mat-select
                        formControlName="nEstado"
                        placeholder="--">
<!--                         @for (item of data.lstStatus; track $index) {
                            <mat-option [value]="item.nConValor">
                                {{ item.sConDescripcion }}
                            </mat-option>
                        } -->
                    </mat-select>
                    <!--@if(form.get('nEstado').invalid) {
                        <mat-error class="text-red-500">
                            {{ form.get("nEstado") | translateMessageForm: "select" }}
                        </mat-error>
                    } -->
                </mat-form-field>
                </div>

                <div
                    appPermissionButton
                    class="col-span-3 flex flex-wrap content-center items-center justify-center gap-3 text-center md:col-span-2  md:justify-end md:text-end"
                >
                    <fo-button
                        (eventAction)="addUser()"
                        [text]="textBtnSearch()"
                        [icon]="iconBtnSearch()"
                    >
                    </fo-button>
                    <ng-content></ng-content>
                </div>
            </div>
        </fo-cont-card>
    </div>
</div>