<div class="flex border my-2 container-search border-gray-400 justify-between">
    <!-- <button class="ml-3 mt-2" [ngClass]="{ 'pointer-events-none': disabledBtn() }">
        <mat-icon>search</mat-icon>
    </button> -->
    <input
        #valueText
        [disabled]="disabledBtn()"
        type="text"
        [value]="defaultValue()"
        class="search-input"
        [placeholder]="placeText()"
        (input)="search($event.target.value)"
        (keydown.enter)="searchValue()" />
        <button mat-icon-button (click)="searchValue()" [ngClass]="{'pointer-events-none' : delaySearch() > 0}" [matTooltip]="'Buscar'">
            <mat-icon class="icon-search">search</mat-icon>
        </button>
</div>