<form class="w-full" [formGroup]="form">
    <div class="header-dialog">
        <div class="header-container gap-3 flex">
            <mat-icon class="icon-size-7" svgIcon="mat_outline:person_outline"></mat-icon>
            <div class="header-text">Agregar rol</div>
        </div>
    </div>
    <div class="body-dialog">
        <div class="grid grid-cols-1 gap-4">
            <div class="col-span-1">
                <mat-form-field class="mat-form-field-custom w-full" appearance="outline" floatLabel="always">
                    <mat-label>Nombre</mat-label>
                    <input
                        formControlName="sNombreRol"
                        matInput 
                        (keypress)="onKeyPress($event)"
                        (input)="onInput($event, 'sNombreRol')"
                        placeholder="--"
                        type="text"
                        maxlength="100"/>
                        @if(form.get('sNombreRol').invalid) {
                            <mat-error class="text-red-500">
                                {{ form.get("sNombreRol") | translateMessageForm }}
                            </mat-error>
                        }
                </mat-form-field>     
            </div>
            <div class="col-span-1">
                <mat-form-field class="mat-form-field-custom w-full" appearance="outline" floatLabel="always">
                    <mat-label>Descripción</mat-label>
                    <textarea
                        formControlName="sDescripcion"
                        matInput 
                        (keypress)="onKeyPress($event)"
                        (input)="onInput($event, 'sDescripcion')"
                        placeholder="--"
                        rows="3"
                        cols="10"
                        type="text"
                        maxlength="255"></textarea>
                        @if(form.get('sDescripcion').invalid) {
                            <mat-error class="text-red-500">
                                {{ form.get("sDescripcion") | translateMessageForm }}
                            </mat-error>
                        }
                </mat-form-field>     
            </div>
        </div>
        <div class="btn-options">
            <fo-button-dialog
                [textBtn]="'Cancelar'"
                [typeButton]="buttonEnum().CANCEL"
                matDialogClose>
            </fo-button-dialog>
            <fo-button-dialog
                [btnDisabled]="loadingService()"
                [textBtn]="isEdit() ? 'Guardar' : 'Crear'"
                (eventActionClick)="validRegisterForm()"
                >
            </fo-button-dialog>
        </div>
    </div>
</form>