@media (max-width: 1350px) {
    .table-responsive {
        display: block;
        width: 99%;
        overflow-x: auto;

        .mat-table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 1rem;
            display: table;
            border-collapse: collapse;
            margin: 0px;
        }
    }

    .mat-cell,
    .mat-header-cell {
        padding: 0px 5px;
        white-space: nowrap;
    }
}

.table-fonafe {
    background-color: transparent;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    .mdc-data-table__row {
        border-bottom-color: #565a5c !important;
    }
    .mat-mdc-cell {
        border-bottom-color: #565a5c !important;
    }
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #99df99 !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #3ccf68 !important;
}

.mat-slide-toggle .mat-slide-toggle-bar {
    background-color: rgb(233, 129, 129) !important;
}

.mat-slide-toggle .mat-slide-toggle-thumb {
    background-color: rgb(220, 38, 38) !important;
}

.mat-checkbox-inner-container {
    margin-right: 0 !important;
}

.btnIcon {
    color: white;
}

th {
    font-family: 'inter-regular';
    font-weight: 600;
    font-size: 14px;
    color: #233559;
    border-bottom: none;
}

tr.mat-header-row {
    height: 50px;
}

table tr:first-child th:first-child {
    border-top-left-radius: 20px;
}

table tr:last-child th:last-child {
    border-top-right-radius: 20px;
}

.mdc-data-table__row {
    border-bottom-color: var(
        --mat-table-row-item-outline-color,
        rgba(0, 0, 0, 0.12)
    );
    border-bottom-width: var(--mat-table-row-item-outline-width, 1px);
    border-bottom-style: solid;
}

.header-table span {
    font-family: 'Museo Sans';
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}

.body-table span {
    font-family: 'Museo Sans';
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #565a5c;
}

bu-toggle {
    margin-left: 8px;
}

img {
    cursor: pointer;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.loading-text {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

.header-table {
    background-color: #cd202c !important;
}

.btn-ingresar {
    span {
        line-height: 100%;
        font-size: 13px;
        color: #cd202c;
        font-weight: 600;
    }
    border: 2px solid #cd202c;
    border-radius: 8px;
    padding: 8px 12px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 32px;
    display: flex;
    align-items: center;
}

.btn-ingresar:hover {
    background-color: rgba(198, 40, 40, 0.1);
}

.row-table {
    height: 60px !important;
}

.icon-options {
    color: #cd202c !important;
}

.paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #565a5c;
    margin-top: 40px;
}

.paginator button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #ffffff;
    height: 36px;
}

.paginator button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

.paginator span {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #ffffff;
    height: 36px;
    width: 36px;
    align-content: center;
}

.paginator span.active {
    font-weight: 400;
    background-color: #e0e2de;
    color: #565a5c;
    border-radius: 6px;
}

.back-paginator {
    border-radius: 6px;
}


.paginator button:disabled {
    background-color: white !important;
}