<!-- <div class="flex justify-end items-center">
    <bu-paginator-table
        [data]="data"
        [pageSizeOptions]="[5, 10, 25, 50]"
        (eventDataSource)="dataSourceReturned($event)">
    </bu-paginator-table>
    
    @if (showFilter) {
        <ng-container *transloco="let t; scope: translationScope.scope; prefix: translationScope.prefix">
            <button #searchButton [matTooltip]="t('icons.search')" mat-icon-button (click)="showSearch()">
                <mat-icon
                    class="icon-size-5 text-current"
                    [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>
            </button>
            <button #buttonReestablecer [matTooltip]="t('icons.reset')" mat-icon-button (click)="restoreTable()">
                <mat-icon
                    class="icon-size-5 text-current"
                    [svgIcon]="'heroicons_outline:arrow-path'"></mat-icon>
            </button>
        </ng-container>
    }
</div>
@if (showSearcher) {
    <bu-search #searcher (eventChangeData)="emitFilterEvent($event)"></bu-search>
} -->

<div class="table-responsive">
        @defer {
            <table mat-table [dataSource]="dataSource" style="width: 100%" class="mat-cell table-fonafe">
                @for (item of headers(); track item.id) {
                    <ng-container [matColumnDef]="item.name">
                        <th
                            mat-header-cell
                            class="pl-5 header-table"
                            *matHeaderCellDef>
                            @if (item.displayedName === 'checkbox') {
                                <ng-container
                                    class="inline-flex items-center text-center">
                                    <mat-checkbox
                                        (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                                    </mat-checkbox>
                                </ng-container>
                            } @else {
                                <span> {{ item.displayedName }}</span>
                            }
                        </th>
                        <td
                            class="body-table"
                            mat-cell
                            *matCellDef="let element; let indice = index"
                            [attr.data-label]="item.displayedName"
                            [ngClass]="{
                                'w-full md:w-2/5 pl-0': item.type === 'construccion',
                                'pl-0 md:pl-4  ': item.type !== 'construccion',
                                'text-center': item.type === 'acciones' || item.type === 'photo',
                                'text-right': item.type === 'decimal'
                            }"
                        >
                            @switch (item.type) {
                                @case ("number") {
                                    <span>
                                        {{ element[item.name] | number : "1.0" }}
                                    </span>
                                }
                                @case ("string") {
                                    <span class="lg:text-justify text-right pl-4 lg:pl-0 md:pl-2">
                                        {{ element[item.name] | empty }}
                                    </span>
                                }
                                @case ("decimal") {
                                    <span>
                                        {{ element[item.name] | number : "1." + item.minMaxDecimal[0] + "-" + item.minMaxDecimal[1] }}
                                    </span>
                                }
                                @case ("porcentaje") {
                                    <span class="flex justify-center">
                                        {{ element[item.name] + "%" }}
                                    </span>
                                }
                                @case ("url") {
                                    <span
                                        class="lg:text-justify text-right pl-4 lg:pl-0 md:pl-2"
                                        style="color: blue; cursor: pointer; text-decoration: underline"
                                        (click)="redirectRoute(element)">
                                        {{ element[item.name] | empty }}
                                    </span>
                                }
                                @case ("moneda") {
                                    <span class="flex justify-end pr-3">
                                        @if (item.subName) {
                                            <ng-container>
                                                {{ (element[item.name] ? element[item.name][item.subName] : 0) | separacionMiles : 2 : "S/ " }}
                                            </ng-container>
                                        } @else {
                                            {{ element[item.name] | separacionMiles : 2 : "S/ " }}
                                        }
                                    </span>
                                }
                                @case ("date") {
                                    <span>
                                        {{
                                            item.format === "fullDate"
                                                ? (element[item.name] | date : "EEEE, MMMM d, y" | empty)
                                                : item.format === "shortTime"
                                                ? (element[item.name] | date : "h:mm a" | empty)
                                                : item.format === "shortTimeHour"
                                                ? (element[item.name] | date : "dd/MM/yyyy, h:mm:ss a" | empty)
                                                : (element[item.name] | date : "dd/MM/yyyy" | empty)
                                        }}
                                    </span>
                                }
                                @case ("boolean") {
                                    <span>
                                        @if(element[item.name]) {
                                            {{ tb('typeBoolean.yes') }}
                                        } @else {
                                            {{ tb('typeBoolean.no') }}
                                        }
                                    </span>
                                }
                                @case ("estado") {
                                    <div class="w-20">
                                        <!-- <bu-pill
                                            [text]="defineTextPill(element[item.name])"
                                            [type]="element[item.estado] ?? convertBoolToNumber(element[item.name])">
                                        </bu-pill> -->
                                    </div>
                                }
                                @case ("acciones") {
                                    <div class="flex flex-row items-center">
                                        @if (item.name === 'none' || element[item.name]) {
                                            @for (icon of icons(); track $index) {
                                                @if(!icon.isHidden(element)) {
                                                    <span [matTooltip]="showMessageT($index, element, item, icon)">
                                                        <button
                                                            [disabled]="icon.isDisabled(element)"
                                                            mat-icon-button
                                                            (click)="
                                                                executeIcon(icon, element, item.subName ? indice : -1);
                                                                $event.stopPropagation()
                                                            "
                                                            [ngStyle]="{ color: icon.color }">
                                                            <mat-icon
                                                                class="icon-size-5 text-current icon-options"
                                                                [svgIcon]="icon.type + ':' + icon.name"></mat-icon>
                                                        </button>
                                                    </span>
                                                }
                                            }
                                        }
                                    </div>
                                }
                                @case ("enter") {
                                    <div class="flex items-center">
                                        <button class="btn-ingresar">
                                            <span>Ingresar</span>
                                        </button>
                                        <button class="ml-2" mat-icon-button>
                                            <mat-icon class="text-black">more_vert</mat-icon>
                                        </button>
                                    </div>
                                }
                                @default {
                                    <span class="lg:text-justify text-right pl-4 lg:pl-0 md:pl-2">
                                        {{ element[item.name] | empty }}
                                    </span>
                                }
                            }
                        </td>
                    </ng-container>
                }
                <tr mat-header-row *matHeaderRowDef="displayedColumns" sticky class="header"></tr>
                <tr class="mat-row row-table" *matNoDataRow>
                    <td class="mat-cell text-center" [attr.colspan]="headers()?.length">
                        No se encontró datos registrados
                    </td>
                </tr>
                <tr class="row-table" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        } @placeholder {
            <!-- <ngx-skeleton-loader count="5" appearance="line" /> -->
        }
        @if(loading()){
            <div class="loading-overlay">
                <mat-spinner diameter="40"></mat-spinner>
                <div class="loading-text">Cargando...</div>
            </div>
        }

        <div class="paginator">
            <div class="flex bg-white back-paginator">
                <button class="flex items-center gap-2 back-paginator" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
                    <mat-icon svgIcon="mat_outline:chevron_left"></mat-icon>
                    Anterior
                </button>
                @for (page of pages; track $index; let f = $first; let l = $last) {
                    <span 
                        [ngClass]="{'ml-2': f, 'mr-2' : l}"
                        (click)="onPageChange(page)" 
                        [class.active]="page === currentPage">
                      {{ page }}
                    </span>
    
                }
                
                <button class="flex items-center gap-2 back-paginator" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">
                    Siguiente
                    <mat-icon svgIcon="mat_outline:chevron_right"></mat-icon>
                </button>

            </div>
        </div>
</div>
