<div class="w-full">
    <div class="grid grid-cols-1 gap-4">
        <fo-return (eventActionClick)="returnInit()"></fo-return>
        <fo-cont-card>
            <fo-title-module [text]="titleModule()"></fo-title-module>
        </fo-cont-card>
        <fo-search-for-button 
            [delaySearch]="delaySearchTable()"
            [placeTextSearch]="placeHolderSearch()"
            (eventSearch)="searchByItem($event)"
            (eventNewElement)="openFormDialog()"
            [textBtnSearch]="nameBtnAdd()"
            viewFilterState
            (eventFilterState)="setFilterState($event)"
            (eventBtnSearch)="searchTable(true)">
        </fo-search-for-button>
        <fo-table 
            [loading]="loadingTable()"
            [totalPages]="totalPagesTable()"
            [headers]="headerTable()"
            [currentPage]="pageIndexTable()"
            [data]="dataTable()"
            [icons]="iconsTable()"
            (eventChangePage)="changePageTable($event)">
        </fo-table>
    </div>
</div>