<fo-cont-card>
    <div class="grid grid-cols-1 md:grid-cols-8 lg:grid-cols-8">
        <div class="col-span-1 md:col-span-4 lg:col-span-2 flex items-center gap-4">
            <app-fo-search class="w-full" [delaySearch]="delaySearch()" (eventChangeData)="getDataSearch($event)" (eventClickSearch)="getDataSearch($event)" [placeText]="placeTextSearch()"></app-fo-search>
            @if (viewFilterState()) {
                <button [matTooltip]="'Filtrar'" mat-icon-button class="btn-funnel" [matMenuTriggerFor]="filterMenu">
                    <mat-icon>filter_list</mat-icon>
                </button>
            }
        </div>
        <div appPermissionButton [disableDirective]="disableDirective()" class="col-span-1 md:col-span-4 lg:col-span-6 text-center md:text-end content-center mt-2 md:mt-0 xs:col-span-4 flex justify-center md:justify-end items-center gap-3 flex-wrap">  
            <fo-button
                (eventAction)="addUser()"
                [text]="textBtnSearch()" 
                [icon]="iconBtnSearch()">
            </fo-button>
            <ng-content></ng-content>
        </div>
    </div>
</fo-cont-card>

<mat-menu #filterMenu="matMenu" class="w-44">
    <!-- Encabezado -->
    <ng-container matMenuItem disabled>
      <div class="font-bold title-status">Estado</div>
    </ng-container>
  
    <!-- Checkbox Activo -->
    <button (click)="$event.stopPropagation()" mat-menu-item>
      <mat-checkbox class="checkbox-filter" [(ngModel)]="isActive" (change)="onCheckboxChange()"><span class="option-state">Activo</span></mat-checkbox>
    </button>
  
    <!-- Checkbox Inactivo -->
    <button (click)="$event.stopPropagation()" mat-menu-item>
      <mat-checkbox class="checkbox-filter option-state" [(ngModel)]="isInactive" (change)="onCheckboxChange()"><span class="option-state">Inactivo</span></mat-checkbox>
    </button>
  
    <!-- Botón de búsqueda -->
     <div class="btn-search my-2">
         <button mat-stroked-button (click)="onSearch()">Buscar</button>
     </div>
  </mat-menu>