<div class="card-body">
    <div class="flex items-center">
        <mat-icon
            class="text-white icon-size-8"
            [svgIcon]="process().icon"
        ></mat-icon>
        <span class="text-card m-4">{{ process().label }}</span>
    </div>
    <div>
    <!-- <div
        [appPermissionButton]="'read'"
        [mode]="'disable'"
        [module]="process().module"
    > -->
        <button
            mat-mini-fab
            class="icon-enter"
            aria-label="Ingresar"
            (click)="toClickOption(process().url);"
        >
            <mat-icon [svgIcon]="viewListOptions() ? 'keyboard_arrow_down': 'keyboard_arrow_right'"></mat-icon>
        </button>
    </div>
</div>
@if(viewListOptions()) {
    <div class="option-list">
        @for (item of process().options; track $index) {
            <button mat-button (click)="toClickOption(item.url)">
                <mat-icon svgIcon="mat_outline:arrow_right"></mat-icon>
                {{ item.label }}
            </button>
        }
    </div>
}