<fo-cont-card>
    <div class="grid grid-cols-1 md:grid-cols-8 lg:grid-cols-8">
        <div class="col-span-1 md:col-span-4 lg:col-span-2 ">
            <app-fo-search [delaySearch]="delaySearch()" (eventChangeData)="getDataSearch($event)" (eventClickSearch)="getDataSearch($event)" [placeText]="placeTextSearch()"></app-fo-search>
        </div>
        <div appPermissionButton [disableDirective]="disableDirective()" class="col-span-1 md:col-span-4 lg:col-span-6 text-center md:text-end content-center mt-2 md:mt-0 xs:col-span-4 flex justify-center md:justify-end items-center gap-3 flex-wrap">  
            <fo-button
                (eventAction)="addUser()"
                [text]="textBtnSearch()" 
                [icon]="iconBtnSearch()">
            </fo-button>
            <ng-content></ng-content>
        </div>
    </div>
</fo-cont-card>