.field-captcha.mat-mdc-form-field.mat-form-field-appearance-fill .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex {
    padding: 0 !important;
    
}
.field-captcha {
    width: 300px;
    background-color: #F9F9F9;
}


.field-captcha {
    height: 90px;
}

.field-captcha.mat-mdc-form-field.mat-form-field-appearance-fill .mat-mdc-text-field-wrapper {
    background-color: #F9F9F9 !important;
}

/* .back-color {
    background-color: #F9F9F9 !important;
} */