.field-captcha.mat-mdc-form-field.mat-form-field-appearance-fill .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex {
    padding: 0 !important;
    
}
.field-captcha {
    width: 300px;
    background-color: #f1f5f9 !important;
}

.field-captcha.mat-form-field-appearance-fill .mat-mdc-form-field-subscript-wrapper {
    background-color: #f1f5f9 !important;
}

.field-captcha {
    height: 95px;
}

.back-color {
    background-color: #f1f5f9 !important;
}