<button
    [ngClass]="{
        'btn-default' : generalButtonEnum().NORMAL === btnClass(),
        'btn-inverter': generalButtonEnum().INVERTER === btnClass(),
        'btn-success': generalButtonEnum().GREY === btnClass(),
    }"
    class="btn-default"
    [type]="type()"
    [disabled]="disabledBtn()"
    [attr.form]="nameForm()"
    mat-button
    (click)="emitAction()"
>
    @if(icon()) {
        <mat-icon
            [svgIcon]="icon()">
        </mat-icon>
    }
    <span>
        {{ text() }}
    </span>
</button>
