
.btn-default {
    background-color: #CD202C !important;
    border-radius: 16px !important;
    gap: 5px;
    mat-icon {
        color: #ffffff;
        margin-right: 10px !important;
    }
    span {
        font-family: "Museo Sans";
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0.6px;
        color: #ffffff;
    }
}

.btn-inverter {
    background-color: #FFFFFF !important;
    border-radius: 16px !important;
    //border-color: #CD202C !important;
    border: 2px solid #CD202C !important;
    gap: 5px;
    mat-icon {
        color: #CD202C;
        margin-right: 10px !important;
    }
    span {
        font-family: "Museo Sans";
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0.6px;
        color: #CD202C;
    }
}