<div class="w-full">
    <div class="grid grid-cols-1 gap-4">
        <fo-return (eventActionClick)="returnInit()"></fo-return>
        <fo-cont-card>
            <fo-title-module [text]="titleModule()"></fo-title-module>
        </fo-cont-card>
        <fo-search-for-button
            (eventClickSearch)="searchByEnterprise($event)"
            (eventNewElement)="addCompany()"
            [placeTextSearch]="placeHolderSearch()"
            [textBtnSearch]="addEnterprise()"
            >
        </fo-search-for-button>
        <fo-table 
            [loading]="loadingTable()"
            [totalPages]="totalPagesTable()"
            [headers]="headerTable()"
            [data]="dataTableBusiness()"
            [icons]="iconsTable()"
            (eventChangePage)="changePageTable($event)">
        </fo-table>
    </div>
</div>