.card-upload {
    background-color: #E6EBF0;
    border-radius: 16px;

}

.image-upload {
    width: 170px;
    height: 101px;
}

.btn-upload-file {
    background-color: #1F487D;
    span {
        color: #ffffff;
        font-family: "Museo Sans";
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 1px;
    }
    .mat-icon {
        color: #ffffff;
    }
}

.btn-upload-file.mat-mdc-button {
    height: 44px;
    max-height: 44px;
}

.line-card-file {
    width: 1px;
    background-color: #FFFFFF;
}

.container-card-file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 20px;
    margin-bottom: 27px;
}

.text-link {
    font-family: "Museo Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #565A5C;
}

.text-link-block {
    font-family: 'Inter var';
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #d70a18;
}

.btn-folder {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-direction: row-reverse;
    font-family: "Museo Sans";
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    .mat-icon {
        color: #FBB241;
    }
}

.btn-folder.mat-mdc-unelevated-button:not(:disabled) {
    background-color: #1F487D !important;
    color: #FFFFFF;
}


.title-dialog-upload {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #39549b;
    display: flex;
    margin-bottom: 10px;
    justify-content: start;
}