<div class="w-full">
    <div class="grid grid-cols-1 gap-4">
        <fo-return (eventActionClick)="returnInit()"></fo-return>
        <div class="w-full">
            <p class="name-banner">Log de trazabilidad</p>
        </div>
        <fo-cont-card>
            <fo-title-module [text]="'Usuario'"></fo-title-module>
            <div class="grid grid-cols-1 gap-4 p-4 md:grid-cols-3">
                <div class="col-span-3 md:col-span-1">
                    <mat-form-field
                        class="mat-form-field-custom w-full"
                        appearance="outline"
                        floatLabel="always"
                    >
                        <mat-label>Inicio</mat-label>
                        <input
                            (keypress)="onKeyPressDate($event)"
                            (input)="onInputDate($event, 'dFechaNacimiento')"
                            formControlName="dFechaNacimiento"
                            matInput
                            maxlength="10"
                            placeholder="--/--/----"
                            [matDatepicker]="picker"
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker>
                            <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>
                                    Cancelar
                                </button>
                                <button
                                    mat-raised-button
                                    color="primary"
                                    matDatepickerApply
                                >
                                    Aplicar
                                </button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                        <!--                 @if(form.get('dFechaNacimiento').invalid) {
                    <mat-error class="text-red-500">
                        {{ form.get("dFechaNacimiento") | translateMessageForm: "date" }}
                    </mat-error>
                } -->
                    </mat-form-field>
                </div>
                <div class="col-span-3 md:col-span-1">
                    <mat-form-field
                        class="mat-form-field-custom w-full"
                        appearance="outline"
                        floatLabel="always"
                    >
                        <mat-label>Fin</mat-label>
                        <input
                            (keypress)="onKeyPressDate($event)"
                            (input)="onInputDate($event, 'dFechaNacimiento')"
                            formControlName="dFechaNacimiento"
                            matInput
                            maxlength="10"
                            placeholder="--/--/----"
                            [matDatepicker]="picker"
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker>
                            <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>
                                    Cancelar
                                </button>
                                <button
                                    mat-raised-button
                                    color="primary"
                                    matDatepickerApply
                                >
                                    Aplicar
                                </button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                        <!--                 @if(form.get('dFechaNacimiento').invalid) {
                    <mat-error class="text-red-500">
                        {{ form.get("dFechaNacimiento") | translateMessageForm: "date" }}
                    </mat-error>
                } -->
                    </mat-form-field>
                </div>
                <div
                    appPermissionButton
                    class="col-span-3 mt-2 flex flex-wrap content-center items-center justify-center gap-3 text-center md:col-span-1 md:mt-0 md:justify-end md:text-end"
                >
                    <fo-button
                        (eventAction)="addUser()"
                        [text]="textBtnSearch()"
                        [icon]="iconBtnSearch()"
                    >
                    </fo-button>
                    <ng-content></ng-content>
                </div>
            </div>
        </fo-cont-card>
        <fo-cont-card >
            <fo-title-module [text]="'Empresa'"></fo-title-module>
            <div class="grid grid-cols-1 gap-4 p-4 md:grid-cols-3">
                <div class="col-span-3 md:col-span-1">
                    <mat-form-field
                        class="mat-form-field-custom w-full"
                        appearance="outline"
                        floatLabel="always"
                    >
                        <mat-label>Inicio</mat-label>
                        <input
                            (keypress)="onKeyPressDate($event)"
                            (input)="onInputDate($event, 'dFechaNacimiento')"
                            formControlName="dFechaNacimiento"
                            matInput
                            maxlength="10"
                            placeholder="--/--/----"
                            [matDatepicker]="picker"
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker>
                            <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>
                                    Cancelar
                                </button>
                                <button
                                    mat-raised-button
                                    color="primary"
                                    matDatepickerApply
                                >
                                    Aplicar
                                </button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                        <!--                 @if(form.get('dFechaNacimiento').invalid) {
                    <mat-error class="text-red-500">
                        {{ form.get("dFechaNacimiento") | translateMessageForm: "date" }}
                    </mat-error>
                } -->
                    </mat-form-field>
                </div>
                <div class="col-span-3 md:col-span-1">
                    <mat-form-field
                        class="mat-form-field-custom w-full"
                        appearance="outline"
                        floatLabel="always"
                    >
                        <mat-label>Fin</mat-label>
                        <input
                            (keypress)="onKeyPressDate($event)"
                            (input)="onInputDate($event, 'dFechaNacimiento')"
                            formControlName="dFechaNacimiento"
                            matInput
                            maxlength="10"
                            placeholder="--/--/----"
                            [matDatepicker]="picker"
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker>
                            <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>
                                    Cancelar
                                </button>
                                <button
                                    mat-raised-button
                                    color="primary"
                                    matDatepickerApply
                                >
                                    Aplicar
                                </button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                        <!--                 @if(form.get('dFechaNacimiento').invalid) {
                    <mat-error class="text-red-500">
                        {{ form.get("dFechaNacimiento") | translateMessageForm: "date" }}
                    </mat-error>
                } -->
                    </mat-form-field>
                </div>
                <div
                    appPermissionButton
                    class="col-span-3 mt-2 flex flex-wrap content-center items-center justify-center gap-3 text-center md:col-span-1 md:mt-0 md:justify-end md:text-end"
                >
                    <fo-button
                        (eventAction)="addUser()"
                        [text]="textBtnSearch()"
                        [icon]="iconBtnSearch()"
                    >
                    </fo-button>
                    <ng-content></ng-content>
                </div>
            </div>
        </fo-cont-card>
    </div>
</div>