.text-module {
    color: #565A5C;
    font-family: "Museo Sans";
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.text-module-bold {
    font-family: "Museo Sans Bold";
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 1.16px;
    color: #565A5C;
}

.container-title {
    min-height: 32px;
}