<form class="w-full" [formGroup]="form">
    <div class="header-dialog-user">
        <div class="header-container-user gap-3 flex">
            <mat-icon class="icon-size-7" svgIcon="mat_outline:lock"></mat-icon>
            <div class="header-text">Cambio de clave</div>
        </div>
    </div>
    <div class="body-dialog-user">
        <div class="grid grid-cols-1 gap-4">
            <div class="col-span-1">
                <mat-form-field class="mat-form-field-custom w-full icon-password" appearance="outline" floatLabel="always">
                    <mat-label>Nueva clave</mat-label>
                    <input 
                        formControlName="password"
                        matInput 
                        placeholder="--"
                        [type]="typeInputPassword() ? 'text' : 'password'"
                        maxlength="32">
                        @if(form.get('password').invalid) {
                            <mat-error class="text-red-500">
                                {{ form.get("password") | translateMessageForm }}
                            </mat-error>
                        }
                        <button
                            class="self-center"
                            (click)="viewPassword()"
                            type="button"
                            mat-icon-button
                            [matTooltip]="typeInputPassword() ? 'Ocultar contraseña' : 'Ver contraseña'">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="typeInputPassword() ? 'heroicons_outline:eye-slash' : 'heroicons_outline:eye'">
                            </mat-icon>
                        </button>
                </mat-form-field>   
            </div>
        </div>
        <div class="btn-options-user">
            <fo-button-dialog
                [textBtn]="'Cancelar'"
                [typeButton]="buttonEnum().CANCEL"
                matDialogClose>
            </fo-button-dialog>
            <fo-button-dialog
                [btnDisabled]="loadingService()"
                [textBtn]="'Guardar'"
                (eventActionClick)="changePassword()"
                >
            </fo-button-dialog>
        </div>
    </div>
</form>