<div>
    <div class="header-dialog-user">
        <div class="header-container-user gap-3 flex">
            <mat-icon class="icon-size-7" svgIcon="mat_outline:person_outline"></mat-icon>
            <div class="header-text">Agregar usuario</div>
        </div>
    </div>
    <div class="body-dialog-user">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div class="col-span-1">
                <mat-form-field class="mat-form-field-custom w-full" appearance="outline" floatLabel="always">
                    <mat-label>Nombres y apellidos</mat-label>
                    <input 
                        [formControl]="test"
                        matInput 
                        placeholder="--"
                        type="text"
                        maxlength="50">
                </mat-form-field>     
            </div>
            <div class="col-span-1">
                <mat-form-field  class="mat-form-field-custom w-full" appearance="outline" floatLabel="always">
                    <mat-label>Cargo</mat-label>
                    <mat-select
                        [formControl]="test"
                        placeholder="--">
                        @for (module of []; track $index) {
                            <mat-option [value]="module?.ncodeModule">
                                {{ module?.description }}
                            </mat-option>
                        }
                        <mat-option [value]="1">
                            {{ 'Programas' }}
                        </mat-option>
                        <mat-option [value]="2">
                            {{ 'Inscripciones' }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-span-1">
                <mat-form-field  class="mat-form-field-custom w-full" appearance="outline" floatLabel="always">
                    <mat-label>Pefil</mat-label>
                    <mat-select
                        [formControl]="test"
                        placeholder="--">
                        @for (module of []; track $index) {
                            <mat-option [value]="module?.ncodeModule">
                                {{ module?.description }}
                            </mat-option>
                        }
                        <mat-option [value]="1">
                            {{ 'Programas' }}
                        </mat-option>
                        <mat-option [value]="2">
                            {{ 'Inscripciones' }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-span-1">
                <mat-form-field  class="mat-form-field-custom w-full" appearance="outline" floatLabel="always">
                    <mat-label>Estado</mat-label>
                    <mat-select
                        [formControl]="test"
                        placeholder="--">
                        @for (module of []; track $index) {
                            <mat-option [value]="module?.ncodeModule">
                                {{ module?.description }}
                            </mat-option>
                        }
                        <mat-option [value]="1">
                            {{ 'Programas' }}
                        </mat-option>
                        <mat-option [value]="2">
                            {{ 'Inscripciones' }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- <div class="col-span-1">
                <mat-form-field class="mat-form-field-custom w-full" appearance="outline" floatLabel="always">
                    <mat-label>Fecha de creación</mat-label>
                    <input
                        [formControl]="test"
                        matInput
                        placeholder="--/--/----"
                        [matDatepicker]="picker" />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>
                                Cancelar
                            </button>
                            <button mat-raised-button color="primary" matDatepickerApply>
                                Aplicar
                            </button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-span-1">
                <mat-form-field class="mat-form-field-custom w-full" appearance="outline" floatLabel="always">
                    <mat-label>Última modificación</mat-label>
                    <input
                        [formControl]="test"
                        placeholder="--/--/----"
                        matInput
                        [matDatepicker]="pickerEnd" />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="pickerEnd"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEnd>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>
                                Cancelar
                            </button>
                            <button mat-raised-button color="primary" matDatepickerApply>
                                Aplicar
                            </button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>
            </div> -->
            

            <div class="col-span-1">
                <mat-form-field class="mat-form-field-custom w-full" appearance="outline" floatLabel="always">
                    <mat-label>Correo</mat-label>
                    <input 
                        [formControl]="test"
                        matInput 
                        placeholder="--"
                        type="text"
                        maxlength="50">
                </mat-form-field>     
            </div>
            <div class="col-span-1">
                <mat-form-field class="mat-form-field-custom w-full" appearance="outline" floatLabel="always">
                    <mat-label>Clave</mat-label>
                    <input 
                        [formControl]="test"
                        matInput 
                        placeholder="--"
                        type="password"
                        maxlength="50">
                </mat-form-field>     
            </div>
        </div>
        <div class="btn-options-user">
            <fo-button-dialog
                [textBtn]="'Cancelar'"
                [typeButton]="buttonEnum().CANCEL"
                matDialogClose>
            </fo-button-dialog>
    
            <fo-button-dialog
                [textBtn]="'Crear'">
            </fo-button-dialog>
        </div>
    </div>
</div>