<form class="w-full" [formGroup]="form">
    <div class="header-dialog-user">
        <div class="header-container-user gap-3 flex">
            <mat-icon class="icon-size-7" svgIcon="mat_outline:person_outline"></mat-icon>
            <div class="header-text">Agregar usuario</div>
        </div>
    </div>
    <div class="body-dialog-user">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div class="col-span-1">
                <mat-form-field class="mat-form-field-custom w-full" appearance="outline" floatLabel="always">
                    <mat-label>Apellido paterno</mat-label>
                    <input 
                        formControlName="sApellidoPaterno"
                        matInput 
                        placeholder="--"
                        type="text"
                        maxlength="50">
                        @if(form.get('sApellidoPaterno').invalid) {
                            <mat-error class="text-red-500">
                                {{ form.get("sApellidoPaterno") | translateMessageForm }}
                            </mat-error>
                        }
                </mat-form-field>     
            </div>
            <div class="col-span-1">
                <mat-form-field class="mat-form-field-custom w-full" appearance="outline" floatLabel="always">
                    <mat-label>Apellido Materno</mat-label>
                    <input 
                        formControlName="sApellidoMaterno"
                        matInput 
                        placeholder="--"
                        type="text"
                        maxlength="50">
                        @if(form.get('sApellidoMaterno').invalid) {
                            <mat-error class="text-red-500">
                                {{ form.get("sApellidoMaterno") | translateMessageForm }}
                            </mat-error>
                        }
                </mat-form-field>     
            </div>
            <div class="col-span-1">
                <mat-form-field class="mat-form-field-custom w-full" appearance="outline" floatLabel="always">
                    <mat-label>Nombres</mat-label>
                    <input 
                        formControlName="sNombres"
                        matInput 
                        placeholder="--"
                        type="text"
                        maxlength="150">
                        @if(form.get('sNombres').invalid) {
                            <mat-error class="text-red-500">
                                {{ form.get("sNombres") | translateMessageForm }}
                            </mat-error>
                        }
                </mat-form-field>     
            </div>
            <div class="col-span-1">
                <mat-form-field  class="mat-form-field-custom w-full" appearance="outline" floatLabel="always">
                    <mat-label>Cargo</mat-label>
                    <mat-select
                            formControlName="nIdCargo"
                            placeholder="--">
                            @for (item of data.lstPosition; track $index) {
                                <mat-option [value]="item.nConValor">
                                    {{ item.sConDescripcion }}
                                </mat-option>
                            }
                    </mat-select>
                    @if(form.get('nIdCargo').invalid) {
                        <mat-error class="text-red-500">
                            {{ form.get("nIdCargo") | translateMessageForm: "select" }}
                        </mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-span-1">
                <mat-form-field  class="mat-form-field-custom w-full" appearance="outline" floatLabel="always">
                    <mat-label>Pefil</mat-label>
                    <mat-select
                        formControlName="nIdRol"
                        placeholder="--">
                        @for (item of data.lstProfile; track $index) {
                            <mat-option [value]="item.nIdRol">
                                {{ item.sNombreRol }}
                            </mat-option>
                        }
                    </mat-select>
                    @if(form.get('nIdRol').invalid) {
                        <mat-error class="text-red-500">
                            {{ form.get("nIdRol") | translateMessageForm: "select" }}
                        </mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-span-1">
                <mat-form-field  class="mat-form-field-custom w-full" appearance="outline" floatLabel="always">
                    <mat-label>Estado</mat-label>
                    <mat-select
                        formControlName="nEstado"
                        placeholder="--">
                        @for (item of data.lstStatus; track $index) {
                            <mat-option [value]="item.nConValor">
                                {{ item.sConDescripcion }}
                            </mat-option>
                        }
                    </mat-select>
                    @if(form.get('nEstado').invalid) {
                        <mat-error class="text-red-500">
                            {{ form.get("nEstado") | translateMessageForm: "select" }}
                        </mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-span-1">
                <mat-form-field class="mat-form-field-custom w-full" appearance="outline" floatLabel="always">
                    <mat-label>Correo</mat-label>
                    <input 
                        formControlName="sCorreoElectronico"
                        matInput 
                        placeholder="--"
                        type="text"
                        maxlength="150">
                        @if(form.get('sCorreoElectronico').invalid) {
                            <mat-error class="text-red-500">
                                {{ form.get("sCorreoElectronico") | translateMessageForm }}
                            </mat-error>
                        }
                </mat-form-field>     
            </div>
            <div class="col-span-1">
                <mat-form-field class="mat-form-field-custom w-full icon-password" appearance="outline" floatLabel="always">
                    <mat-label>Clave</mat-label>
                    <input 
                        formControlName="sContrasena"
                        matInput 
                        placeholder="--"
                        [type]="typeInputPassword() ? 'text' : 'password'"
                        maxlength="32">
                        @if(form.get('sContrasena').invalid) {
                            <mat-error class="text-red-500">
                                {{ form.get("sContrasena") | translateMessageForm }}
                            </mat-error>
                        }
                        <button
                            class="self-center"
                            (click)="viewPassword()"
                            type="button"
                            mat-icon-button
                            [matTooltip]="typeInputPassword() ? 'Ocultar contraseña' : 'Ver contraseña'">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="typeInputPassword() ? 'heroicons_outline:eye-slash' : 'heroicons_outline:eye'">
                            </mat-icon>
                        </button>
                </mat-form-field>     
            </div>
        </div>
        <div class="btn-options-user">
            <fo-button-dialog
                [textBtn]="'Cancelar'"
                [typeButton]="buttonEnum().CANCEL"
                matDialogClose>
            </fo-button-dialog>
            <fo-button-dialog
                [btnDisabled]="loadingService()"
                [textBtn]="isEdit() ? 'Guardar' : 'Crear'"
                (eventActionClick)="registerForm()"
                >
            </fo-button-dialog>
        </div>
    </div>
</form>