.name-banner-sub {
    font-family: "Museo Sans";
    color: #CD202C;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.6px;
}

.line-form {
    height: 1px;
    width: 100%;
    background-color: #DDDDDD;
}

.title-ide {
    font-family: "Museo Sans";
    font-weight: 600;
    font-style: 700;
    font-size: 13px;
    text-align: justify;
    color: #565A5C;


}