.menu-quit .mat-mdc-menu-content {
    padding: 0px;
    .mat-mdc-menu-item .mat-mdc-menu-item-text {
        padding: 0px;
        justify-content: center;
    }
}

.options-menu {
    color: #080809;
    font-family: 'Inter var';
    line-height: 1.3333;
    font-weight: 500;
    font-size: 14px;
}

.btn-quit mat-icon {
    color: #CD202C !important;
}