<div class="w-full">
    <div class="grid grid-cols-1 gap-4">
        <fo-return (eventActionClick)="returnInit()"></fo-return>
        <fo-cont-card>
            <fo-title-module [text]="titleModule()"></fo-title-module>
        </fo-cont-card>
        <fo-search-for-button
            (eventClickSearch)="searchByEnterprise($event)"
            (eventNewElement)="addCompany()"
            [placeTextSearch]="placeHolderSearch()"
            [textBtnSearch]="addEnterprise()"
            viewFilterState
            (eventFilterState)="setFilterState($event)"
            (eventBtnSearch)="searchBusiness(true)"
            >
            <div date>
               <form [formGroup]="formDate" class="w-full p-4">
                    <mat-form-field class="mat-form-field-custom w-full" [subscriptSizing]="'dynamic'"
                        appearance="outline"
                        floatLabel="always">
                        <mat-label>Fecha de inicio - Fecha fin</mat-label>
                        <mat-date-range-input (click)="$event.stopPropagation()" [rangePicker]="pickerRole">
                          <input (click)="$event.stopPropagation()" matStartDate formControlName="dateStart" placeholder="-- / -- / ----">
                          <input (click)="$event.stopPropagation()" matEndDate formControlName="dateEnd" placeholder="-- / -- / ----">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="pickerRole"></mat-datepicker-toggle>
                        <mat-date-range-picker #pickerRole>
                            <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Cancelar</button>
                                <button mat-raised-button color="primary" matDatepickerApply>
                                    Aplicar
                                </button>
                            </mat-datepicker-actions>
                        </mat-date-range-picker>
                        @if(formDate.get('dateStart').invalid) {
                            <mat-error class="text-red-500">
                                {{ formDate.get("dateStart") | translateMessageForm }}
                            </mat-error>
                        }
                        @if(formDate.get('dateEnd').invalid) {
                            <mat-error class="text-red-500">
                                {{ formDate.get("dateEnd") | translateMessageForm }}
                            </mat-error>
                        }
                    </mat-form-field>
                </form>
                
            </div>
            <fo-button
                [matMenuTriggerFor]="menu"
                [text]="'Importar/Exportar'" 
                [icon]="'file_copy'">
            </fo-button>
            <mat-menu #menu="matMenu">
              <button (click)="importExcel()" class="btn-export" mat-menu-item>
                <mat-icon>upload</mat-icon>
                <span>Importar excel</span>
              </button>
              <button (click)="exportExcel()" class="btn-export" mat-menu-item>
                <mat-icon>download</mat-icon>
                <span>Exportar excel</span>
              </button>
              <button (click)="exportPdf()"  class="btn-export" mat-menu-item>
                <mat-icon>download</mat-icon>
                <span>Exportar PDF</span>
              </button>
            </mat-menu>
        </fo-search-for-button>
        <fo-table 
            [currentPage]="pageIndexTable()"
            [loading]="loadingTable()"
            [totalPages]="totalPagesTable()"
            [headers]="headerTable()"
            [data]="dataTableBusiness()"
            [icons]="iconsTable()"
            (eventChangePage)="changePageTable($event)">
        </fo-table>
    </div>
</div>